<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%# ナビゲーション %>
    <header>
      <div class="uk-container">
        <%= link_to("sample app", '#', {class: "uk-navbar-brand", id: "logo"}) %>
        <nav class="uk-navbar">
          <ul class="uk-navbar-nav">
            <li><%= link_to "Home",root_path %></li>
            <li><%= link_to "Training",   '#' %></li>
            <li><%= link_to "Management",   '#' %></li>
            <li><%= link_to "Articles",   '#' %></li>
            <li class="uk-parent"  data-uk-dropdown>
              <%= link_to "Log in", '' %>
              <div class="uk-dropdown-navbar uk-dropdown uk-dropdown-bottom">
                <div class="uk-dropdown-blank uk-panel uk-panel-box">
                  <%# ログイン・サインアップのフォーム %>
                  <%= form_for(user_new, {html: {class: "uk-form uk-form-stacked"}}) do |f| %>
                    <fieldset data-uk-margin>
                      <div class="uk-form-row uk-form-controls">
                        <%= f.label(:email, {class: "uk-form-label"}) %>
                        <%= f.text_field(:email) %>
                      </div>
                      <div class="uk-form-row uk-form-controls">
                        <%= f.label(:password, 'Password', {class: "uk-form-label"}) %>
                        <%= f.password_field(:password) %>
                      </div>
                    </fieldset>
                    <%= f.submit("login", {class: "uk-button"}) %>
                    <%= link_to("sign up", users_path, {class: "uk-button uk-button-primary"}) %>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
  <%# ページ埋め込み %>
  <div class="container">
    <%= yield %>
  </div>
  
  </body>
</html>
